[run]
branch = True
source = thesaurus
omit =
    thesaurus/__main__.py
    thesaurus/adapters/tui.py
    thesaurus/adapters/logging.py

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    raise NotImplementedError
    if __name__ == .__main__.:
    \.\.\.
show_missing = True
skip_covered = False
